<mat-sidenav-container>
  <mat-sidenav #sidenav position='start' class="menuMovil" [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <mat-toolbar>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">

        </div>
        <div fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
          <mat-icon (click)="sidenav.close()">close</mat-icon>
        </div>
      </div>
    </mat-toolbar>
    <app-navbar-list (sidenavClose)="sidenav.close()"></app-navbar-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
      <app-navbar class="navbar" fxFlex="100" (sidenavToggle)="sidenav.toggle()"></app-navbar>
      <div class="contain" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div class="menu" fxFlex="10" fxHide.xs>
          <app-menu></app-menu>
        </div>
        <div fxFlex="90" fxFlex.xs="100"  fxLayout="row wrap" fxLayoutAlign="space-between stretch">
          <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
            <router-outlet fxFlex="100"></router-outlet>
          </div>
          <app-footer class="footer" fxFlex="100"></app-footer>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
