.contain {
  background-color: #f7f7f7;
  color: black;
}

.mat-drawer {
  color: #f7f7f7 !important;
  background-color: purple !important;
}
.mat-toolbar {
  color: #f7f7f7 !important;
  background-color: purple !important;
}

.mat-drawer-container {
  color: #f7f7f7 !important;
  background-color: purple !important;
}


.menu {
  color: #f7f7f7;
  background-color: purple;
}

.footer {
  color: #f7f7f7;
  background-color: green;
}
